{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

Add new question:

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}